<table>
	<tr><td>Apple</td></br>
		<td><p>There are 10 apples</p></td>
	</tr>
	<tr><td>orange</td></br>
		<td><p>There are 10 orange</p></td>
	</tr>
	<tr><td>Pineapple</td></br>
		<td><p>There are 10 pineapple</p></td>
	</tr>
	<tr><td><%= link_to 'New', :action =>'new'%></td></tr>
	
</table>